# Ignorar archivos temporales
*.log
*.tmp

# Ignorar carpetas específicas
/node_modules/
dist/
build/

# Ignorar archivos específicos
secreto.txt
config/local.env
Power Bi/Resumen de proyectos.xlsx
G:\Mi unidad\Portfolio - GD\Portfolio\CV_Matias_Chamorro_ATS.pdf

