# === Ignorar solo lo innecesario ===

# Archivos temporales y del sistema
*.log
*.tmp
*.DS_Store
Thumbs.db

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo

# Checkpoints de notebooks
.ipynb_checkpoints/

# Entornos virtuales
.env
.venv
env/
venv/
ENV/

# Carpetas de editores
.vscode/
.idea/

# Librerías descargadas o instaladas localmente
site-packages/
dist/
build/
*.egg-info/

# Otros archivos comunes a excluir
*.bak
*.swp
*.swo
*.~lock.*#
*.pbix


# Ignorar la carpeta Herramientas de Power Bi
/Portfolio - GD/Portfolio/Power Bi/Herramientas/
/Portfolio - GD/Portfolio/_CV_Matias_Chamorro_v1.pdf
/Portfolio - GD/Portfolio/.gitignore
